name: tests

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install pip dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest
      - name: Download spaCy model
        run: python -m spacy download en_core_web_sm
      - name: Run tests
        run: |
          pytest tests
